<modal #itemModal (onDismiss)="gotoItem(undefined)" [animation]="false">
    <modal-header [show-close]="true">
        <h4 class="modal-title" *ngIf="item">{{item.getCaption()}}</h4>
    </modal-header>
    <modal-body *ngIf="!item">
        Betöltés...
    </modal-body>
    <modal-body *ngIf="item">
        <img src="{{item.guid.rendered}}">
    </modal-body>
    <modal-footer *ngIf="item" [show-default-buttons]="false">
        <div class="description">{{item.getDescription()}}</div>
        <div class="add-to-cart">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span *ngIf="isInCart">Kosárban:</span>
            <input type="number" min="0" class="cart-amount"
                name="item-number" [(ngModel)]="item.amount" (ngModelChange)="amountChange($event)"
            >
            <button *ngIf="!isInCart" type="button" class="btn btn-info" (click)="addToCart(item)">Kosárba tesz</button>
        </div>
        <button type="button" class="btn btn-default pull-left prev" [disabled]="!previousItem" (click)="gotoItem(previousItem)">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Előző
        </button>
        <button type="button" class="btn btn-default next" [disabled]="!nextItem" (click)="gotoItem(nextItem)">
            Következő
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </modal-footer>
</modal>