<div class="panel panel-default">
    <div class="panel-body" style="padding: 15px 30px;">
        <button class="btn btn-sm btn-danger pull-right" *ngIf="items.length" (click)="clearCart()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Kosár ürítése
        </button>
        <h3>Kosár</h3>
    </div>
</div>
<div class="panel" *ngIf="!items.length">
    <div class="panel-body">
        A kosarad jelenleg még üres - válassz a termékek közül!
    </div>
</div>
<div *ngIf="items.length">
    <div *ngFor="let item of items" class="panel panel-default">
        <div class="panel-body">
            <div class="thumbnail col-sm-6 col-md-4">
                <img src="{{item.productItem.guid.rendered}}">
            </div>
            <div class="col-sm-6 col-md-8">
                <button class="btn btn-sm btn-danger pull-right" *ngIf="items" (click)="removeItem(item)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Elem törlése
                </button>
                <h3>{{item.productItem.getCaption()}}</h3>
                <h4>({{item.product.title}})</h4>
                <div>{{item.productItem.getDescription()}}</div>
                <div [innerHtml]="item.product.content"></div>
                <div>
                    Kosárban:
                    <input type="number" min="0" class="cart-amount"
                        name="{{'item-number-' + item.id}}" [(ngModel)]="item.productItem.amount"
                    >
                    tétel
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" *ngIf="page">
        <div class="panel-body" [innerHTML]="page.content.rendered"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Megrendelés</h3>
            <form #cartForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Név (kötelező)</label>
                    <input type="text" class="form-control" name="name" required [(ngModel)]="name">
                </div>
                <div class="form-group">
                    <label for="email">E-mail (kötelező)</label>
                    <input type="email" class="form-control" name="email" required [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label for="phone">Telefonszám</label>
                    <input type="phone" class="form-control" name="phone" [(ngModel)]="phone">
                </div>
                <div class="form-group">
                    <label style="display: block;">Átvétel módja</label>
                    <label class="form-inline" style="margin-right: 10px;">
                        <input type="radio" class="form-control" name="delivery" value="personal" [(ngModel)]="delivery">
                        Személyesen
                    </label>
                    <label class="form-inline">
                        <input type="radio" class="form-control" name="delivery" value="mail" [(ngModel)]="delivery">
                        Postán
                    </label>
                </div>
                <div class="form-group" *ngIf="delivery=='personal'">
                    <label for="comment">Átvétel preferált helye, ideje</label>
                    <textarea class="form-control" name="deliveryDetails" [(ngModel)]="deliveryDetails"></textarea>
                </div>
                <div class="form-group" *ngIf="delivery=='mail'">
                    <label for="comment">Irányítószám</label>
                    <input type="number" class="form-control" name="deliveryZip" required [(ngModel)]="deliveryZip">
                </div>
                <div class="form-group" *ngIf="delivery=='mail'">
                    <label for="comment">Település</label>
                    <input type="text" class="form-control" name="deliveryTown" required [(ngModel)]="deliveryTown">
                </div>
                <div class="form-group" *ngIf="delivery=='mail'">
                    <label for="comment">Utca, házszám, emelet</label>
                    <input type="text" class="form-control" name="deliveryAddress" required [(ngModel)]="deliveryAddress">
                </div>
                <div class="form-group">
                    <label for="comment">Megjegyzés</label>
                    <textarea class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary center-block" [disabled]="!cartForm.form.valid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Megrendelés elküldése
                </button>
            </form>
        </div>
    </div>
</div>