<div class="col-sm-6 col-md-4">
    <div class="thumbnail clickable" (click)="gotoCategoryPage()">
        <img *ngIf="featuredMedia" src="{{featuredMedia.guid.rendered}}">
        <div class="caption">
            <h3 [innerHTML]="page.title.rendered"></h3>
            <div [innerHTML]="page.excerpt.rendered"></div>
            <p>
                <span *ngFor="let tag of tags" class="label"
                    [style.background-color]="'#' + tag.description">{{tag.name}}</span>
            </p>
        </div>
    </div>
</div>