.label {
    margin-right: 4px;
}

.thumbnail {
    text-align: center;
}

.thumbnail a>img, .thumbnail>img {
    max-height: 270px;
}

@media screen and (min-width: 768px) {
    .thumbnail {
        height: 350px;
    }
    .thumbnail .caption {
        position: absolute;
        bottom: 26px;
        left: 10px;
        right: 10px;
    }
}