<div *ngIf="!page">Betöltés...</div>
<div *ngIf="page && page.content.rendered" class="panel panel-default">
    <div class="panel-body" [innerHTML]="page.content.rendered"></div>
</div>

<div *ngIf="subPages">
    <div class="row">
        <category-card-component *ngFor="let page of subPages" [page]="page"></category-card-component>
    </div>
</div>