<div class="col-sm-6 col-md-4">
    <div class="thumbnail clickable" (click)="gotoProductPage(post.slug)">
        <img *ngIf="featuredMedia" src="{{featuredMedia.guid.rendered}}">
        <div class="caption">
            <h3 [innerHTML]="post.title.rendered"></h3>
            <div>
                <span *ngFor="let tag of tags" class="label"
                    [style.background-color]="'#' + tag.description">{{tag.name}}</span>
            </div>
        </div>
    </div>
</div>