@font-face {
    font-family: 'caudexregular';
    src: url('../fonts/caudex-regular-webfont.eot');
    src: url('../fonts/caudex-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/caudex-regular-webfont.woff2') format('woff2'),
        url('../fonts/caudex-regular-webfont.woff') format('woff'),
        url('../fonts/caudex-regular-webfont.ttf') format('truetype'),
        url('../fonts/caudex-regular-webfont.svg#caudexregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caudexregular';
    src: url('../fonts/caudex-bold-webfont.eot');
    src: url('../fonts/caudex-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/caudex-bold-webfont.woff2') format('woff2'),
        url('../fonts/caudex-bold-webfont.woff') format('woff'),
        url('../fonts/caudex-bold-webfont.ttf') format('truetype'),
        url('../fonts/caudex-bold-webfont.svg#caudexregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

.jumbotron p {
    font-size: inherit;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../img/backgrounds/grunge_shabby_chic_02.jpg') center center repeat fixed;
    background-color: #cbdfe6;
    font-family: 'caudexregular', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    background-image: url('../img/headers/P1060228.jpg');
    background-repeat: repeat;
    background-position: center left;
    background-color: #aba492;
    background-size: auto 100%;
    color: transparent !important;
    display: block;
    height: 240px;
    padding: 0;
}
@media screen and (min-width: 768px) {
    .header {
        background-position: center center;
        background-size: auto 100%;
    }
}

.header .logo {
    background: url('../img/header_logo_gray.png') center center no-repeat;
    color: transparent;
    height: 240px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .header .logo {
        margin-left: -40px;
        width: 240px;
    }
}

.navbar {
    margin-bottom: 20px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.navbar-nav li.highlighted a, .navbar-nav li.highlighted a.active {
    color: darkred !important;
}
.navbar-nav li.highlighted a:hover {
    color: #660000;
}

.label {
    background-color: #28a4c9;
}

.clickable {
    cursor: pointer;
}

.alignleft {
    float: left;
    margin: 6px 28px 28px 0;
}

.alignright {
    float: right;
    margin: 6px 0 28px 28px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 28px;
}

.modal-body {
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.modal-footer .description {
    text-align: center;
    font-size: 14px;
    padding: 0 100px;
}

.modal-footer .add-to-cart {
    text-align: center;
    padding: 0 100px;
    margin: 10px 0 -30px;
}

.cart-amount {
    width: 50px;
    text-align: right;
}