<div *ngIf="!post">Betöltés...</div>
<div *ngIf="post" class="panel">
    <h3 [innerHTML]="post.title.rendered"></h3>
    <div [innerHTML]="post.content.rendered"></div>
    <p>
        <span *ngFor="let tag of tags" class="label"
            [style.background-color]="'#' + tag.description">{{tag.name}}</span>
    </p>
    <div *ngIf="itemsInColumns" class="row">
        <div *ngFor="let column of itemsInColumns" class="col-sm-4 col-md-4 col-lg-4">
            <div *ngFor="let item of column">
                <a class="thumbnail" [routerLink]="['/termek', slug, item.getCaptionSlug()]">
                    <img src="{{item.guid.rendered}}" title="{{item.caption}}">
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>