<div *ngIf="!page">Betöltés...</div>
<div *ngIf="page" class="panel panel-default">
    <div class="panel-body">
        <h3 [innerHTML]="page.title.rendered"></h3>
        <div [innerHTML]="page.content.rendered"></div>
    </div>
</div>

<div *ngIf="!posts">Betöltés...</div>
<div *ngIf="posts">
    <div class="row">
        <product-card-component *ngFor="let post of posts" [post]="post"></product-card-component>
    </div>
</div>