<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav center-block">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Kezdőlap</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/kategoria/fulonfuggok']">Fülönfüggők</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/kategoria/nyakonfuggok']">Nyakonfüggők</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/kategoria/szettek']">Szettek</a></li>
                <li class="highlighted" [routerLinkActive]="['active']"><a [routerLink]="['/kategoria/karacsony']">Karácsony</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/vasarok']">Vásárok</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/kapcsolat']">Kapcsolat</a></li>
                <li [routerLinkActive]="['active']" *ngIf="cartService.items.length" class="pull-right">
                    <a [routerLink]="['/kosar']">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        <span class="badge">{{cartService.items.length}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>